html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block
}
body {
    line-height: 1
}
blockquote,
q {
    quotes: none
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}
a:hover,
a:active {
    outline: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    overflow-y: scroll;
overflow-x: hidden;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: #fff;
    color: #282828;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-smooth: always;
    position: relative
}
a {
    text-decoration: none
}
hr {
    border: none;
    border-bottom: 1px solid #e7e7e7
}
.left {
    float: left !important
}
.right {
    float: right !important
}
.clearfix:after,
.three:after,
.two:after,
.four:after,
.sitenav:after,
.block:after,
.toolbar:after,
.breadcrumbs:after,
.section:after,
.side:after {
    display: table;
    clear: both;
    content: " "
}
.container,
.page-header__inner,
.page-footer__inner,
.section--default,
.page-content,
.page-content--narrow,
.page-content--single,
.page-main__inner,
.features,
.section--more,
.section--hero {
    margin-left: auto;
    margin-right: auto;
    position: relative
}
.container:after,
.page-header__inner:after,
.page-footer__inner:after,
.section--default:after,
.page-content:after,
.page-content--narrow:after,
.page-content--single:after,
.page-main__inner:after,
.features:after,
.section--more:after,
.section--hero:after {
    display: table;
    clear: both;
    content: " "
}
@media (min-width: 768px) and (max-width: 1095px) {
    .container,
    .page-header__inner,
    .page-footer__inner,
    .section--default {
        width: 100%
    }
}
@media (min-width: 1096px) {
    .container,
    .page-header__inner,
    .page-footer__inner,
    .section--default {
        width: 1050px
    }
}
@media (max-width: 767px) {
    .container,
    .page-header__inner,
    .page-footer__inner,
    .section--default {
        padding-left: 12px;
        padding-right: 12px
    }
}
@media (min-width: 1096px) {
    .page-content {
        width: 960px
    }
}
@media (min-width: 768px) and (max-width: 1095px) {
    .page-content {
        width: 100%
    }
}
@media (max-width: 767px) {
    .page-content {
        width: 100%
    }
}
@media (min-width: 768px) and (max-width: 1095px) {
    .page-content--single-wide {
        padding-left: 9%;
        padding-right: 9%
    }
}
@media (min-width: 1096px) {
    .page-content--narrow,
    .page-content--single {
        width: 788px
    }
}
@media (min-width: 768px) and (max-width: 1095px) {
    .page-content--narrow,
    .page-content--single {
        width: 84%;
        max-width: 788px
    }
}
@media (max-width: 767px) {
    .page-content--narrow,
    .page-content--single {
        width: 100%
    }
}
@media (min-width: 1096px) {
    .page-main__inner {
        max-width: 1138px
    }
}
@media (min-width: 768px) and (max-width: 1095px) {
    .page-main__inner {
        width: 100%
    }
}
@media (max-width: 767px) {
    .page-main__inner {
        padding-left: 25px;
        padding-right: 32px
    }
}
.page-title,
.block--blurb .block__title,
.block--post .block__title {
    font-size: 26px;
    line-height: 31px;
    font-weight: 300;
    color: #32373b
}
.block--default .block__title,
.title {
    font-size: 22px;
    line-height: 26px;
    color: #32373b;
    font-weight: 400
}
.page-title--blog,
.block--footer .block__title {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-weight: 600
}
.block--icon .block__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px
}
.page-header__title {
    font-size: 17px;
    line-height: 26px;
    font-weight: 500
}
@media (min-width: 1096px) {
    .page-content--single,
    .page-content--single-wide {
        padding-top: 90px;
        padding-bottom: 176px
    }
}
@media (min-width: 768px) and (max-width: 1095px) {
    .page-content--single,
    .page-content--single-wide {
        padding-top: 70px;
        padding-bottom: 130px
    }
}
@media (max-width: 767px) {
    .page-content--single,
    .page-content--single-wide {
        padding-top: 40px;
        padding-bottom: 40px
    }
}
.page-content--padded {
    padding-top: 45px;
    padding-bottom: 176px
}
.block--blurb .block__body,
.block--post .block__body {
    font-size: 18px;
    line-height: 30px
}
.block--icon .block__body,
.block--default .block__body,
.block--text .block__body {
    font-size: 16px;
    line-height: 26px
}
.post-date,
.notice,
.title-location {
    font-size: 14px;
    line-height: 20px
}
.three--default {
    margin-bottom: 24px
}
.four__item {
    float: left
}
@media (min-width: 768px) {
    .four__item {
        width: 24.9%
    }
}
.four__item.-span3 {
    width: 74.9%
}
@media (max-width: 767px) {
    .four__item.-span3 {
        float: none
    }
}
@media (max-width: 767px) {
    .four__item {
        width: 49%
    }
}
@media (max-width: 767px) {
    .page-footer.-secondary .four__item {
        width: 100%;
        margin-bottom: 12px
    }
    .page-footer.-secondary .four__item:last-child {
        margin-bottom: 0
    }
}
.four.-spaced .four__item {
    box-sizing: border-box
}
.row {
    display: table
}
.row__inner {
    display: table-row;
    vertical-align: middle
}
.row__item {
    display: table-cell !important;
    vertical-align: middle
}
@media (max-width: 767px) {
    .row,
    .row__inner,
    .row__item {
        display: block !important
    }
}
.header {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box
}
.page-header {
    background: #f29100; /* Old browsers */
    background: -moz-linear-gradient(left,  #f29100 0%, #e61b72 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #f29100 0%,#e61b72 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #f29100 0%,#e61b72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f29100', endColorstr='#e61b72',GradientType=1 ); /* IE6-9 */

    width: 100%;
    box-sizing: border-box;
    color: #fff;
    transition: background-color .5s ease
}
.fixed .page-header {
    background-color: rgba(30, 190, 165, 0.96)
}
.page-header {
	  height: 54px;
	  padding-top: 7px;
	  padding-left: 18px;
	  padding-right: 18px
}
@media (max-width: 767px) {
    .page-header {
        padding-right: 7px
    }
}
.page-header a {
    color: #fff
}
.page-header__title {
    margin-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 20px;
    float: left;
    width: calc(100% - 100px)
}
.platform-bb .page-header__title {
    display: inline-block;
    max-width: 160px
}
@media (min-width: 768px) {
    .page-header__title {
        display: none
    }
}
.page-header__menu {
    float: right;
    cursor: pointer
}
@media (min-width: 768px) {
    .page-header__menu {
        display: none
    }
}
@media (min-width: 1096px) {
    .page-header__nav {
        padding-top: 19px;
        float: right
    }
}
@media (min-width: 768px) and (max-width: 1095px) {
    .page-header__nav {
        padding-top: 18px;
        float: none;
        width: 100%;
        padding-right: 9%;
        padding-left: 9%;
        box-sizing: border-box
    }
}
@media (max-width: 890px) {
    .page-header__nav {
        padding-right: 6%;
        padding-left: 8%
    }
}
@media (max-width: 767px) {
    .page-header__nav {
        display: none
    }
}
.page-header__language {
    padding-top: 19px;
    cursor: pointer;
    float: right
}
@media (max-width: 767px) {
    .page-header__language {
        display: none
    }
}
@media (max-width: 767px) {
    .page-header--index {
        position: relative;
        height: 58px
    }
    .page-header--index .page-header__logo {
        width: 77px;
        height: 77px;
        background-size: auto 77px;
        position: absolute;
        top: 44px;
        left: 50%;
        margin-left: -36px;
        pointer-events: none;
        cursor: default
    }
    .page-header--index .page-header__title {
        display: none
    }
    .page-header--index .page-header__logo svg {
        height: 77px;
        width: auto
    }
}
.page-footer {
    width: 100%;
    color: #eee;
    font-size: 16px;
    line-height: 16px
}
@media (min-width: 768px) and (max-width: 1095px) {
    .page-footer__inner {
        padding-right: 20px;
        padding-left: 20px
    }
}
@media (max-width: 767px) {
    .page-footer__inner {
        width: auto;
        padding-left: 24px;
        padding-right: 24px
    }
}
.page-footer.-primary {
    text-align: center;
    padding-top: 13px;
    padding-bottom: 10px;
    background-color: #eee
}
@media (max-width: 767px) {
    .page-footer.-primary {
        padding-bottom: 20px
    }
}
.page-footer.-secondary {
    background: #f29100; /* Old browsers */
    background: -moz-linear-gradient(left,  #f29100 0%, #e61b72 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #f29100 0%,#e61b72 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #f29100 0%,#e61b72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f29100', endColorstr='#e61b72',GradientType=1 ); /* IE6-9 */
    padding: 23px 0;
    text-align: center;
}

.feature {
    text-align: center;
    position: relative;
    vertical-align: middle;
    padding-top: 58px;
    padding-bottom: 52px
}
@media (min-width: 768px) {
    .feature {
        width: calc(49.9% - 10px);
        margin-bottom: 24px
    }
}
@media (max-width: 767px) {
    .feature__inner {
        padding-left: 8%;
        padding-right: 8%
    }
}
@media (min-width: 768px) and (max-width: 1095px) {
    .feature__inner {
        margin-right: 9%;
        margin-left: 9%
    }
}
@media (min-width: 1096px) {
    .feature__inner {
        margin-left: 12%;
        margin-right: 12%
    }
}
.feature__intro {
    text-transform: uppercase;
    font-size: 11px;
    line-height: 17px;
    font-weight: 500;
    letter-spacing: .15em;
    margin-bottom: 7px;
    color: rgba(0, 0, 0, 0.5)
}
.feature__title {
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: .05em;
    margin-bottom: 25px
}
.feature__text {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 50px
}
.feature--calls {
    vertical-align: top;
    padding-bottom: 330px
}
.feature--calls .feature__text {
    margin-bottom: 30px
}
.feature--calls .feature__img {
    background-image: url(images/untitled-2.png);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0
}
@media (max-width: 767px) {
    .feature--calls .feature__img {
        background-size: auto 300px;
        height: 300px
    }
}
@media (min-width: 768px) {
    .feature--calls .feature__img {
        background-size: auto 319px;
        height: 320px
    }
}
@media (min-width: 768px) {
    .feature--calls {
        float: left
    }
}
.feature--security {
    padding-top: 40px;
    padding-bottom: 70px
}
.feature--security .feature__text {
    margin-bottom: 0
}
.feature--security .feature__img {
    margin-bottom: 28px;
    width: 272px;
    height: 272px;
    margin-left: auto;
    margin-right: auto
}
.feature--security .feature__embed {
    width: 272px;
    height: 272px
}
@media (min-width: 768px) {
    .feature--security {
        float: right
    }
}
.feature--left {
    background-color: rgba(242, 145, 0, 0.36)
}
.feature--right {
    background-color: rgba(230, 27, 114, 0.27)
}

@media (min-width: 768px) {
    .block__title {
        margin-bottom: 26px
    }
}
@media (max-width: 767px) {
    .block__title {
        margin-bottom: 21px;
        line-height: normal
    }
}
.block__body a {
    color: #39b3ed
}
.block__body a:hover {
    text-decoration: underline
}

.list {
    list-style-type: none;
    line-height: normal
}
.list__item {
    margin-bottom: 6px
}
.list__item--last,
.list__item:last-child {
    margin-bottom: 0 !important
}
@media (max-width: 767px) {
    .list--footer {
        margin-bottom: 12px
    }
}
.list--footer .list__link {
    color: #888
}
@media (max-width: 767px) {
    .list--footer .list__link {
        display: block;
        padding-top: 8px;
        padding-bottom: 8px
    }
}
.side__secondary nav {
    margin-top: 62px
}
.side-submenu {
    margin-top: 16px;
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 24px
}
.side-submenu a {
    color: #888 !important
}
.section {
    margin: 0 auto
}
@media (max-width: 767px) {
    .section--features {
        width: 100%
    }
}
@media (min-width: 768px) {
    .section--features {
        width: 100%
    }
    .section--features .section__inner {
        display: table-row
    }
    .section--features .section__divider {
        width: 20px
    }
    .section--features .section__item {
        display: table-cell;
        margin: 0;
        min-height: 0;
        float: none !important;
        width: 50%
    }
}
@media (min-width: 1440px) {
    .section--features {
        width: 1440px
    }
}
.page--list .page-content {
    padding-bottom: 0
}
.page--blog .page-content {
    padding-top: 44px
}
.post-date {
    padding: 6px 10px;
    background-color: #f5f5f5;
    display: inline-block;
    color: rgba(0, 0, 0, 0.65);
    border-radius: 4px
}
.post-date a {
    color: rgba(0, 0, 0, 0.65)
}
.section--more {
    text-align: center
}
@media (max-width: 767px) {
    .section--more {
        padding-top: 53px;
        padding-bottom: 53px
    }
}
@media (min-width: 768px) {
    .section--more {
        padding-top: 84px;
        padding-bottom: 84px
    }
}
.button {
    text-transform: uppercase;
    display: inline-block;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.071em;
    padding: 23px 46px;
    border-radius: 40px;
    font-weight: 500;
    white-space: nowrap
}
.button--outline {
    color: #1cb39b;
    border: 2px solid #77D7C8
}
.button--primary {
    background-color: #e61b72;
    color: #fff !important
}
.button--s {
    padding: 18px 36px
}
.button--xs {
    font-size: 15px;
    line-height: 23px;
    padding: 12px 24px
}
.img {
    display: inline-block;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain
}
.hint {
    font-size: 14px;
    line-height: 22px;
    color: rgba(65, 74, 83, 0.4)
}
.hint a {
    color: rgba(65, 74, 83, 0.4);
    text-decoration: underline
}
@media (min-width: 768px) and (max-width: 1095px) {
    body {
        padding-top: 74px
    }
}
@media (min-width: 1096px) {
    body {
        padding-top: 91px
    }
}
@media (max-width: 767px) {
    body {
        padding-top: 61px
    }
}
@media (max-width: 767px) {
    body.page--index {
        padding-top: 0
    }
}
.middle {
    vertical-align: middle
}
.muted {
    color: #b4b8b7 !important
}
.notice {
    color: #b4b8b7
}
.notice hr {
    margin-bottom: 56px
}
.notice p {
    margin-bottom: 32px
}
.notice a {
    color: #5b5f62
}
.notice *:last-child {
    margin-bottom: 0
}
.title-location {
    color: #b4b8b7;
    margin-bottom: 32px;
    margin-top: 6px
}
.title {
    margin-bottom: 24px
}
.button-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #FFF;
    color: #ccc;
    font-size: 30px;
    width: 20px;
    height: 20px;
    padding: 18px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    text-align: center;
    line-height: 20px
}
@media (min-width: 1096px) {
    .button-top {
        display: none
    }
}
.side__primary {
    width: 660px;
    float: left
}
@media (max-width: 1095px) {
    .side__primary {
        float: none;
        width: 100%
    }
}
.side__secondary {
    width: 300px;
    float: right;
    padding-left: 64px;
    box-sizing: border-box
}
@media (max-width: 1095px) {
    .side__secondary {
        float: none;
        padding: 0;
        width: 100%
    }
}
.page-body a {
    color: #39b3ed
}
.page-body h2,
.page-body h3,
.page-body h4 {
    font-weight: 300
}
.clear:after {
    display: table;
    clear: both;
    content: " "
}
.hero-phone {
    background-image: url(images/phone1.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    margin: 0 auto;
}
@media (min-width: 1096px) {
    .hero-phone {
        width: 318px;
        height: 628px
    }
}
@media (min-width: 768px) and (max-width: 1095px) {
    .hero-phone {
        width: 308px;
        height: 608px;
    }
}
@media (max-width: 767px) {
    .hero-phone {
        width: 154px;
        height: 304px;
        padding-bottom:15px;
    }
}
@media (max-width: 767px) {
    .block--hero .block__inner {
        padding-top: 10px;
        padding-right: 35px;
        padding-left: 35px
    }
    .block--hero .block__title {
        font-size: 24px;
        line-height: 31px;
        font-weight: 300;
        letter-spacing: .04px;
        margin-bottom: 15px
    }
    .block--hero .block__img {
        overflow: hidden;
        margin-bottom: 0
    }
    .block--hero .block__body {
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 40px
    }
    .block--hero .block__hint {
        position: absolute;
        bottom: -44px;
        left: 0;
        width: 100%;
        text-align: center;
        box-sizing: border-box;
        padding-left: 35px;
        padding-right: 35px;
        z-index: 100;
        color: rgba(0, 0, 0, 0.42);
        font-size: 12px
    }
    .block--hero .block__action {
        display: inline-block;
        margin-bottom: 40px;
        cursor: pointer
    }
    .block--hero .actions {
        display: none
    }
}

.block__inner #proximate-logo {
	width: 275px;
}


 /*Desktop view*/
@media (min-width: 768px) {
		.block__inner #proximate-logo {
        width: 450px;
    }
    .block--hero {
        display: table-row
    }
    .block--hero .block__inner {
        padding-right: 40px
    }
    .block--hero .block__img {
        display: table-cell;
        vertical-align: middle
    }
    .block--hero .block__title {
        font-size: 33px;
        line-height: 35px;
        font-weight: 300;
        margin-bottom: 24px
    }
    .block--hero .block__body {
        font-size: 16px;
        line-height: 26px;
        opacity: .78;
        margin-bottom: 12px
    }
    .block--hero .block__action--badge,
    .block--hero .button--primary {
        display: none
    }
    .block--hero .block__hint {
        font-size: 12px;
        line-height: 18px;
        opacity: .3;
        margin-bottom: 24px
    }
}
@media (min-width: 1096px) {
    .block__hero .block__inner {
        padding-right: 120px
    }
}
@media (max-width: 767px) {
    .section--hero {
        text-align: center;
        padding-bottom: 46px;
    }
}
@media (min-width: 768px) {
    .section--hero {
        padding-bottom: 66px;
        width: 630px;
    }
}
@media (min-width: 1096px) {
    .section--hero {
        width: 788px
    }
}
.page--index .feature--calls {
    padding-top: 120px
}
@media (max-width: 767px) {
    .page--join_home .page-main__inner,
    .page--join_department .page-main__inner {
        padding-right: 0
    }
    .page--join_home .page-content--padded,
    .page--join_department .page-content--padded {
        padding-top: 28px;
        padding-bottom: 68px
    }
    .block--blurb,
    .notice {
        padding-right: 24px
    }
}
.page--join .actions {
    margin-top: 45px;
    margin-bottom: 45px
}
@media (max-width: 767px) {
    .page--join .actions {
        text-align: center
    }
}
@media (min-width: 768px) and (max-width: 1095px) {
    .page--join .actions {
        text-align: center
    }
}
.page--join hr {
    margin-bottom: 32px
}

.section--download .section__item {
    vertical-align: top
}
.img--native {
    height: 199px;
    width: 100%;
    margin-bottom: 20px
}
.feature--native .feature__text {
    margin-bottom: 60px
}
.feature--native .feature__action {
    margin-bottom: 70px
}
.feature__inner--other .feature__text {
    font-weight: normal;
    font-size: 17px;
    line-height: 29px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 50px
}
.feature__inner--other .feature__intro {
    margin-bottom: 20px
}