* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline
}

html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: #fff;
    color: #282828;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-smooth: always;
    position: relative
}
@media (min-width: 768px) {
    body {
        padding-top: 91px
    }
}
@media (max-width: 767px) {
    body {
        padding-top: 61px
    }
}
a {
    text-decoration: none
}

.jh-footer-menu:after {
    display: table;
    clear: both;
    content: " "
}
@media (min-width: 768px) and (max-width: 1095px) {
    .jh-footer-menu {
        width: 100%
    }
}
@media (min-width: 1096px) {
    .jh-footer-menu {
        width: 1050px
    }
}
@media (max-width: 767px) {
    .jh-footer-menu {
        padding-left: 12px;
        padding-right: 12px
    }
}
@media (min-width: 1096px) {
    .page-content {
        width: 960px
    }
}
@media (min-width: 768px) and (max-width: 1095px) {
    .page-content {
        width: 100%
    }
}
@media (max-width: 767px) {
    .page-content {
        width: 100%
    }
}
.jh-footer-menu li {
    float: left;
    display: inline-block;
}
@media (min-width: 768px) {
    .jh-footer-menu li {
        width: 24.9%
    }
}
@media (max-width: 767px) {
    .jh-footer-menu li {
        width: 49%
    }
}
.jh-top-color-strip {
    background: #f29100; /* Old browsers */
    background: -moz-linear-gradient(left,  #f29100 0%, #e61b72 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #f29100 0%,#e61b72 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #f29100 0%,#e61b72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f29100', endColorstr='#e61b72',GradientType=1 ); /* IE6-9 */

    width: 100%;
    box-sizing: border-box;
    color: #fff;
    transition: background-color .5s ease;
    height: 58px;
    position: relative;
    padding-top: 7px;
    padding-left: 18px;
    padding-right: 18px;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
@media (min-width: 768px) and (max-width: 1095px) {
    .jh-footer-menu {
        padding-right: 20px;
        padding-left: 20px
    }
}
@media (max-width: 767px) {
    .jh-footer-menu {
        width: auto;
        padding-left: 24px;
        padding-right: 24px
    }
}
.jh-footer-primary {
    text-align: center;
    padding-top: 13px;
    padding-bottom: 10px;
    background-color: #eee;
    list-style-type: none;
    width: 100%;
    color: #eee;
    font-size: 16px;
    line-height: 16px
}
@media (max-width: 767px) {
    .jh-footer-primary {
        padding-bottom: 20px
    }
}
.jh-copyright {
    background: #f29100; /* Old browsers */
    background: -moz-linear-gradient(left,  #f29100 0%, #e61b72 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #f29100 0%,#e61b72 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #f29100 0%,#e61b72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f29100', endColorstr='#e61b72',GradientType=1 ); /* IE6-9 */
    padding: 23px 0;
    text-align: center;
    list-style-type: none;
    width: 100%;
    color: #eee;
    font-size: 16px;
    line-height: 16px
}

.feature {
    text-align: center;
    position: relative;
    vertical-align: middle;
    padding-top: 58px;
    padding-bottom: 52px
}
@media (min-width: 768px) {
    .feature {
        width: calc(49.9% - 10px);
        margin-bottom: 24px
    }
}
@media (max-width: 767px) {
    .feature__inner {
        padding-left: 8%;
        padding-right: 8%
    }
}
@media (min-width: 768px) and (max-width: 1095px) {
    .feature__inner {
        margin-right: 9%;
        margin-left: 9%
    }
}
@media (min-width: 1096px) {
    .feature__inner {
        margin-left: 12%;
        margin-right: 12%
    }
}
.feature__title {
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: .05em;
    margin-bottom: 25px
}
.feature__text {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 50px
}
.jh-feature-left {
    background-color: rgba(242, 145, 0, 0.36);
    vertical-align: top;
    padding-bottom: 330px
}
.jh-feature-left .feature__text {
    margin-bottom: 30px
}
.jh-feature-left .feature__img {
    background-image: url(images/untitled-2.png);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0
}
@media (max-width: 767px) {
    .jh-feature-left .feature__img {
        background-size: auto 300px;
        height: 300px
    }
}
@media (min-width: 768px) {
    .jh-feature-left .feature__img {
        background-size: auto 319px;
        height: 320px
    }
}
@media (min-width: 768px) {
    .jh-feature-left {
        float: left
    }
}
.jh-feature-right {
    padding-top: 40px;
    padding-bottom: 70px;
    background-color: rgba(230, 27, 114, 0.27)
}
.jh-feature-right .feature__text {
    margin-bottom: 0
}
.jh-feature-right .feature__img {
    margin-bottom: 28px;
    width: 272px;
    height: 272px;
    margin-left: auto;
    margin-right: auto
}
@media (min-width: 768px) {
    .jh-feature-right {
        float: right
    }
}
@media (min-width: 768px) {
    .jh-slogan-1 {
        margin-bottom: 26px
    }
}
@media (max-width: 767px) {
    .jh-slogan-1 {
        margin-bottom: 21px;
        line-height: normal
    }
}
.list {
    list-style-type: none;
    line-height: normal
}
@media (max-width: 767px) {
    .jh-footer-menu li {
        margin-bottom: 12px
    }
}
.jh-footer-menu li a {
    color: #888
}
@media (max-width: 767px) {
    .jh-footer-menu li a {
        display: block;
        padding-top: 8px;
        padding-bottom: 8px
    }
}
.section {
    margin: 0 auto
}
@media (max-width: 767px) {
    .section--features {
        width: 100%
    }
}
@media (min-width: 768px) {
    .section--features {
        width: 100%
    }
    .section--features .section__inner {
        display: table-row
    }
    .section--features .section__divider {
        width: 20px
    }
    .section--features .section__item {
        display: table-cell;
        margin: 0;
        min-height: 0;
        float: none !important;
        width: 50%
    }
}
@media (min-width: 1300px) {
    .section--features {
        width: 1300px
    }
}
.page--list .page-content {
    padding-bottom: 0
}
.page--blog .page-content {
    padding-top: 44px
}
.section--more {
    text-align: center
}
@media (max-width: 767px) {
    .section--more {
        padding-top: 53px;
        padding-bottom: 53px
    }
}
@media (min-width: 768px) {
    .section--more {
        padding-top: 84px;
        padding-bottom: 84px
    }
}
.button {
    text-transform: uppercase;
    display: inline-block;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.071em;
    padding: 23px 46px;
    border-radius: 40px;
    font-weight: 500;
    white-space: nowrap
}
.button--outline {
    color: #1cb39b;
    border: 2px solid #77D7C8
}
.button--primary {
    background-color: #e61b72;
    color: #fff !important
}
.img {
    display: inline-block;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain
}
.page-body a {
    color: #39b3ed
}
.page-body h2,
.page-body h3,
.page-body h4 {
    font-weight: 300
}
.clear:after {
    display: table;
    clear: both;
    content: " "
}
.hero-phone {
    position: relative;
    margin: 0 auto;
}
@media (min-width: 1096px) {
    .hero-phone {
        width: 318px;
        height: 628px
    }
}
@media (min-width: 768px) and (max-width: 1095px) {
    .hero-phone {
        width: 308px;
        height: 608px;
    }
}
@media (max-width: 767px) {
    .hero-phone {
        width: 154px;
        height: 304px;
        padding-bottom:15px;
    }
}
@media (max-width: 767px) {
    .block--hero .block__inner {
        padding-top: 10px;
        padding-right: 35px;
        padding-left: 35px
    }
    .block--hero .jh-slogan-1 {
        font-size: 24px;
        line-height: 31px;
        font-weight: 300;
        letter-spacing: .04px;
        margin-bottom: 15px
    }
    .block--hero .jh-slogan-2 {
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 40px
    }
    .block--hero .block__action {
        display: inline-block;
        margin-bottom: 40px;
        cursor: pointer
    }
    .block--hero .actions {
        display: none
    }
}

.block__inner #proximate-logo {
	width: 275px;
}

 /*Desktop view*/
@media (min-width: 768px) {
	.block__inner #proximate-logo {
        width: 450px;
    }
    .block--hero {
        display: table-row
    }
    .jh-hero-phone-img {
        display: table-cell;
        vertical-align: middle
    }
    .block--hero .jh-slogan-1 {
        font-size: 33px;
        line-height: 35px;
        font-weight: 300;
        margin-bottom: 24px
    }
    .block--hero .jh-slogan-2 {
        font-size: 16px;
        line-height: 26px;
        opacity: .78;
        margin-bottom: 12px
    }
    .block--hero .button--primary {
        display: none
    }
}
@media (max-width: 767px) {
    .section--hero {
        text-align: center;
        padding-bottom: 46px;
    }
}
@media (min-width: 768px) {
    .section--hero {
        padding-bottom: 66px;
    }
    .block__hero .block__inner {
        padding-right: 120px;
    }
    .section--hero {
        width: 1000px
    }
}

.feature__inner--other .feature__text {
    font-weight: normal;
    font-size: 17px;
    line-height: 29px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 50px
}
